<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.core.user.mapper.EmployeeMapper">
    
    <sql id="All_Column_List">
        id, name, username, password, phone, sex, id_number, status,
          create_time, update_time, create_user, update_user
    </sql>

    <!--  根据员工用户名查询员工信息  -->
    <select id="getByUsername" resultType="com.chen.core.user.entity.EmployeeDO">
        SELECT <include refid="All_Column_List"/> FROM employee
        WHERE username = #{username}
    </select>

    <!--  新增员工信息  -->
    <insert id="insertEmployee" useGeneratedKeys="true" keyProperty="id" parameterType="com.chen.core.user.entity.EmployeeDO">
        INSERT INTO employee (name, username, password, phone, sex, id_number, status,
                              create_time, update_time, create_user, update_user)
        VALUES (#{name}, #{username}, #{password}, #{phone}, #{sex}, #{idNumber}, #{status}, #{createTime},
                #{updateTime}, #{createUser}, #{updateUser})
    </insert>
    
    <!--  查询员工信息列表  -->
    <select id="listAll" resultType="com.chen.core.user.entity.EmployeeDO">
        SELECT <include refid="All_Column_List"/>
        FROM employee
        <where>
            <if test="employeeName != null and employeeName != '' ">
                AND name LIKE CONCAT('%', #{employeeName}, '%')
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
