<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.core.goods.mapper.CategoryMapper">

    <sql id="All_Column_List">
        id, type, name, sort, status,
        create_time, update_time, create_user, update_user
    </sql>

    <!--  新增商品的分类信息  -->
    <insert id="insertCategory" keyProperty="id" useGeneratedKeys="true" parameterType="com.chen.core.goods.entity.CategoryDO">
        INSERT INTO category(type, name, sort, status, create_time, update_time, create_user, update_user)
        VALUES (#{type}, #{name}, #{sort}, #{status}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <!--  根据id修改分类  -->
    <update id="updateCategory" parameterType="com.chen.core.goods.entity.CategoryDO">
        UPDATE category
        <set>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser}
            </if>
        </set>
        where id = #{id}
    </update>

    <!--  根据id删除分类  -->
    <delete id="deleteCategory" parameterType="java.lang.Long">
        DELETE FROM category WHERE id = #{id}
    </delete>

    <!--  根据id获取分类信息  -->
    <select id="getById" parameterType="java.lang.Long" resultType="com.chen.core.goods.entity.CategoryDO">
        SELECT <include refid="All_Column_List"/>
        FROM category
        where id = #{id}
    </select>

    <!--  查询分类信息  -->
    <select id="listCategory" resultType="com.chen.core.goods.entity.CategoryDO">
        SELECT <include refid="All_Column_List"/>
        FROM category
        <where>
            <if test="name != null and name != '' ">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        ORDER BY sort ASC, create_time DESC
    </select>

    <!--  查询所有分类信息  -->
    <select id="listAll" resultType="com.chen.core.goods.entity.CategoryDO">
        SELECT <include refid="All_Column_List"/>
        FROM category
    </select>

</mapper>
