<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.core.goods.mapper.DishMapper">

    <sql id="All_Column_List">
        id, name, category_id, price, image, description, status,
        create_time, update_time, create_user, update_user
    </sql>

    <!--  新增菜品信息  -->
    <insert id="insert" parameterType="com.chen.core.goods.entity.DishDO" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO dish (name, category_id, price, image, description, create_time, create_user, update_user, update_time)
        VALUES (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{createTime}, #{updateUser}, #{updateUser}, #{updateTime})
    </insert>

    <!--  根据菜品id集合批量删除菜品信息  -->
    <delete id="deleteByIds">
        DELETE FROM dish
        WHERE id IN
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <!--  修改菜品信息  -->
    <update id="update">
        UPDATE dish
        <set>
            <if test="name != null and name != '' ">
                name = #{name},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image != null and image != '' ">
                image = #{image},
            </if>
            <if test="description != null and description != '' ">
                description = #{description},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!--  修改菜品售卖状态  -->
    <update id="updateStatus">
        UPDATE dish
        SET status = #{status}
        WHERE id = #{id}
          AND status != #{status}
    </update>

    <!--  根据分类id查询菜品数量  -->
    <select id="countByCategoryId" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM dish
        WHERE category_id = #{categoryId}
    </select>

    <!--  根据菜品Id查询菜品信息  -->
    <select id="getById" parameterType="java.lang.Long" resultType="com.chen.core.goods.entity.DishDO">
        SELECT <include refid="All_Column_List"/>
        FROM dish
        WHERE id = #{id}
    </select>

    <!--  根据菜品名称获取菜品信息  -->
    <select id="getByName" parameterType="java.lang.String" resultType="com.chen.core.goods.entity.DishDO">
        SELECT <include refid="All_Column_List"/>
        FROM dish
        WHERE name = #{name}
    </select>

    <!--  根据ID集合批量查询菜品信息  -->
    <select id="listByIds" resultType="com.chen.core.goods.entity.DishDO">
        SELECT <include refid="All_Column_List"/>
        FROM dish
        WHERE id IN
        <foreach collection="list" item="item" separator="," close="(" open=")">
            #{item}
        </foreach>
    </select>

    <!--  查询全部菜品信息  -->
    <select id="list" resultType="com.chen.core.goods.entity.DishDO">
        SELECT <include refid="All_Column_List"/>
        FROM dish
        <where>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <if test="name != null and name != '' ">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
