<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.core.goods.mapper.DishFlavorMapper">

    <sql id="All_Column_List">
        id, dish_id, name, value
    </sql>

    <!--  新增菜品的口味信息  -->
    <insert id="insert" parameterType="com.chen.core.goods.entity.DishFlavorDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dish_flavor (dish_id, name, value)
        VALUES (#{dishId}, #{name}, #{value})
    </insert>

    <!--  批量新增菜品的口味信息  -->
    <insert id="insertList" parameterType="com.chen.core.goods.entity.DishFlavorDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dish_flavor (dish_id, name, value)
        VALUES
            <foreach collection="list" item="item" separator=",">
                (#{item.dishId}, #{item.name}, #{item.value})
            </foreach>
    </insert>

    <!--  根据菜品口味id集合批量删除菜品口味信息  -->
    <delete id="deleteByIds">
        DELETE FROM dish_flavor
        WHERE id IN
        <foreach collection="ids" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <!--  根据菜品id删除菜品口味  -->
    <delete id="deteleByDishId" parameterType="java.lang.Long">
        DELETE FROM dish_flavor
        WHERE dish_id = #{dishId}
    </delete>

    <!--  根据菜品id查询菜品口味信息  -->
    <select id="listByDishId" parameterType="java.lang.Long" resultType="com.chen.core.goods.entity.DishFlavorDO">
        SELECT <include refid="All_Column_List"/>
        FROM dish_flavor
        WHERE dish_id = #{dishId}
    </select>

    <!--  获取所有菜品口味信息  -->
    <select id="listAll" resultType="com.chen.core.goods.entity.DishFlavorDO">
        SELECT <include refid="All_Column_List"/>
        FROM dish_flavor
    </select>

</mapper>